:root {
  --primary-background-color: #f18a93;
  --secondary-background-color: #ecf1ee;
}

#root {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
