:root {
  --primary-background-color: #f18a93;
  --secondary-background-color: #ECF1EE;
}

::-webkit-scrollbar { 
  background: var(--primary-background-color);
  width: 0;

}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.full-screen {
  height: 100vh;
  width: 100vw;
  font-size: calc(10px + 2vmin);
}

.grid-like {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.common-background-color {
  background-color: var(--primary-background-color);
  color: white
}

.secondary-background-color {
  background-color: var(--secondary-background-color);
  color: black
}

.register-container {
  background-color: #FAA;
  border-radius: 10px;
  width: 15em;
  height: 15em;
}

.login-container {
  background-color: #FAA;
  border-radius: 10px;
  padding: 0 3rem 3rem 3rem;
}

.signup-button {
  background-color: var(--primary-background-color);
}

.App-header {
  background-color: var(--primary-background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: var(--primary-background-color);
}

.logopp {
  width: 2.5em;
  height: 2.5em;
}

.conejito-img {
  max-width: 80vw;
  max-height: 80vh;
  min-width: 20vw;
  min-height: 20vh;
}